@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200&display=swap');

footer {
    position: absolute;
    bottom: -270%;
    width: 100%;
    height: 50px;
    background: black;
}

footer p {
    color: white;
    font-size: 15px;
    text-align: center;
    font-family: 'Assistant', sans-serif;
    ;
}

@media only screen and (max-width: 768px) {
    
    footer {
        position: absolute;
        bottom: -590%;
        width: 100%;
        height: 50px;
        background: black;
    }
   
}