@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.saludo p {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    color: #333;
  }

.size-Image {
    height: 470px;
}

.saludo {
    margin-top: 1%;
}

/* contador*/
.contadorPrueba {
    margin-left: auto;
    margin-right: auto;
    align-content: center;
}

Form {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.buttons-Search{
text-align: center;
}

.buttons-Search Button{
margin-left: 5px;
margin-top: 5px;
}

@media only screen and (max-width: 768px) {
    .saludo {
        margin-top: 40%;
    }

    /* .card {
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    } */
}