@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.saludo p {
    text-align: center;
    font-size: 16px;
    font-family: 'Righteous', cursive;
}

.size-Image {
    height: 420px;
}

.saludo {
    margin-top: 1%;
}

/* contador*/
.contadorPrueba {
    margin-left: auto;
    margin-right: auto;
    align-content: center;
}

Form {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.buttons-Search{
text-align: center;
}

.buttons-Search Button{
margin-left: 5px;
margin-top: 5px;
}

@media only screen and (max-width: 768px) {
    .saludo {
        margin-top: 40%;
    }

    /* .card {
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    } */
}